<div class="container d-flex justify-content-evenly border-top mt-5">
    <div class="mt-5 mx-4">
        <h2>This First Heading Will Catch Your Eye</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit impedit dolores voluptate et ea, maiores perspiciatis quasi saepe, vitae quo blanditiis est, accusantium placeat possimus. Ab nisi impedit cum dolorem!</p>
    </div>
    <img class="mt-5 rounded-circle" style="width: 15%" src="../assets/img/1.jpg" alt="Walter White">
</div>

<div class="container d-flex justify-content-evenly border-top mt-5">
    <img class="mt-5 rounded-circle" style="width: 15%" src="../assets/img/2.jpg" alt="Walter White">
    <div class="mt-5 mx-4">
        <h2>The Second Heading Is Pretty Good Too</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit impedit dolores voluptate et ea, maiores perspiciatis quasi saepe, vitae quo blanditiis est, accusantium placeat possimus. Ab nisi impedit cum dolorem!</p>
    </div>

</div>